<footer class="footer">
    <div class="footer-content">
        <div class="footer-brand">
            <a href="https://www.facebook.com/llcpetc" target="_blank">
                <img src="assets/facebook.png" alt="Facebook" />
            </a>
            <a href="https://instagram.com" target="_blank">
                <img src="assets/instagram.png" alt="Instagram" />
            </a>
            <a href="https://www.linkedin.com/company/komokiellc/?viewAsMember=true" target="_blank">
                <img src="assets/linkedin.png" alt="LinkedIn" />
            </a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2025 KOMOKIE- All rights reserved.</p>
    </div>
</footer>